<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout :: header-css"/>
</head>

<body>

<header>
    <div th:replace="layout :: site-header-post"/>
</header>

<main id="posts">
    <article th:each="p : ${post}">
        <h1 class="title" th:text="${p.title}">Post Title</h1>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.createDate, 'dd-MM-yyyy HH:mm')}">No Date Set</span><br>
            <i>Posted By</i>
            <span th:text="${p.username}"></span>
        </div>
        <p class="content" th:utext="${p.body}">Post content</p>
    </article>
</main>

<h5>Comments</h5>
<aside id="comments">
    <article th:each="c : ${post.comments}">
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(c.createDate, 'dd-MM-yyyy HH:mm')}">No Date Set</span>
        </div>
        <p class="content" th:utext="${c.body}">Post content</p>
    </article>
</aside>


</body>

</html>

